{% extends 'public_secondary.html' %}
{% block page_title %} Terms and Conditions {% endblock %}

{% load dw_tabs %}
{% block body %}

{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; Terms and Conditions
{% endblock %}

{% block main_content %}

    <div id="main_content">
        <div class="margin_left_20" id="content-terms">
                     <p><strong>Welcome</strong></p>
                     <p>These Terms of Service are a contract between you and Garner.
                     </p>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}