$intro-bg : #82c552;
$intro-bg-img: '/media/images/dw_intro_bg.gif';

$about-bg : #aaa;
$header-bg: #aab;
$public-header-login-bg: #aab;
$header-logo: '/media/images/dcs_logo.png';
$app-bg-img: "/media/images/application_bg_dcs.png";
$app-bg: #fff;
$header-app-bg: '/media/images/hedaer_app_bg_dcs.png';
$nav-active:#653E06;

